@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap");

:root {
  --yellow-lego: #ffd602;
  --red-lego: #d5040a;
  --blue-lego: #036cb6;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.page {
  position: relative;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "nav aside"
    "section aside"
    "footer aside";
}

.navbar {
  background: var(--yellow-lego);
  grid-area: nav;
}

.navbar__content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 0 80px;
  animation: 2s navbar 0.5s ease-in-out;
}

.navbar__content img {
  width: 50px;
}

.navbar__content ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 450px;
}

.navbar__content ul li a {
  color: var(--red-lego);
  text-decoration: none;
  font-weight: 100;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  z-index: 3;
  animation: loader 2s linear forwards;
}

.loader div {
  background: yellow;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  animation: scaling 2s ease-in-out infinite;
}

.loader div:nth-child(1) {
  animation-delay: 0.2s;
}

.loader div:nth-child(2) {
  animation-delay: 0.4s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.2);
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }

  95% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes navbar {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0px);
  }
}
